form {
.field {
  width: 70%;
  margin: auto;
  input, textarea  {
    width: 100%;
    padding: .8rem .6rem;
    margin-bottom: 0.8rem;
    border: 1px solid #cdcdcd;
    border-radius: .3rem;
    line-height: 1.2rem;
    font-size: 1rem;
  }
  label {
    font-weight: 600;
    font-size: 0.9rem;
    display: block;
    margin: 0.5rem 0;
  }
  
/* Button */

[type=submit] {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  margin: .25rem 0;
  padding: .5rem 1rem;
  border: 1px solid #1E6BD6;
  border-radius: 8px;
  background: #1E6BD6;
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-family: sans-serif;
  font-size: .95rem;
}
}
}