@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

@import "form";

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
   margin: 0 auto;
  padding: 0 1rem;
}
.tac {
  text-align: center;
}